.sp-pagination {
	padding: 0;
}

.sp-pagination > li {
	display: inline-block;
    margin-right: -5px;
}

.sp-pagination > li a {
	display: block;
    padding: 6px 11px;
	text-decoration: none;
	color: #007bff;
    border: 1px solid #dddddd;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.sp-pagination > li:first-child a {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.sp-pagination > li:last-child a {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.sp-pagination > li,
.sp-pagination > li a {
	outline: none;
}

.sp-pagination > li a:hover,
.sp-pagination > li a:focus {
	background-color: #eceaea;
	border-color: #dddddd;
}

.sp-pagination > li.active a {
	background-color: #367ada;
}

.sp-pagination > li.active a {
	color: white;
	border-color: #367ada;
}

.sp-pagination > li.disabled a {
	color: #dddddd;
	cursor: default;
	pointer-events: none;
}